

.btn-23 {
    cursor: pointer;

    text-transform: uppercase;
    font-family: Marvel;
    font-size: 0.8em;
    width: 125px;
    height: 35px;
    position: relative;
    border: solid var(--color-grey) 2px;
    color: var(--color-grey);
    z-index: 1;
    transition: all 0.5s ease-in-out;
    border-radius: 5px;
    overflow: hidden;
    background-color: transparent;
  }
  
  .btn-23:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    height: 100%;
    width: 0%;
    background: var(--color-orange);
    border-radius: 23px;
    transition: all 0.3s ease-in-out;
    z-index: -1;
  }
  
  .btn-23:hover:before {
    width: 120%;
    left: -10%;
  }
  
  .btn-23:hover {
    color: #f1f1f1;
    border-color: var(--color-orange);
  }
  

  .btn-23:focus {
    outline: none
  }