.comments-component{
    .rating-stars{
        margin: auto;
        width: 170px;
    }
    
    
        .input-error{
            border: 1px solid red;
        }
        .comments-form{
            background: radial-gradient(circle, rgb(0, 0, 0) 0%, rgb(28, 28, 28) 0%, rgba(109, 66, 17, 0.604) 100%);
            border-radius: 10px;
            padding: 30px;
            width: 70%;
            margin: 30px auto;
            box-shadow: rgba(0, 0, 0, 0.633) 0px 3px 8px;
        }
        .bg-container{
            background: var(--container-background);
            border-radius: 10px;
            padding: 30px;
            width: 75%;
            margin: 30px auto;
            box-shadow: rgba(0, 0, 0, 0.633) 0px 3px 8px;
        }

}
