.category-page{
    margin-top: 80px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    align-items: center;
    position: absolute;

    top: 0;
    left: 0;
    
}

