.F2P-Game-Page{
  width:clamp(300px, 100%, 1300px);
  margin: 120px auto !important;

      // position: absolute;
.game-title{
  margin: 0px;
}
.game-img{
  width: 375px ;
  // height: 206px;
  margin-right: 20px;
  
}
.game-dec-container{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
  .comments-sec{
    margin-top: 50px;
  }
  .fav-button{
    width: 20px;
    height: 30px;
    margin: auto;
  }
  .bg-container{
    background: var(--container-background);
    border-radius: 10px;
    padding: 30px;
   
    margin: 30px auto;
    box-shadow: rgba(0, 0, 0, 0.633) 0px 3px 8px;
  }
}
  
     


.F2P-Game-Page-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;

    .F2P-game-info{
        width: 45%;
        margin:  auto;
        // margin-bottom: 40px;
        padding: 0 20px;

    }
    .F2P-game-requirements{
        width:  45%;
        margin: 0 auto;
        padding: 0 20px;
        text-align: left;

    }

}
.F2P-game-desc{
  margin: 0 auto;
  width: 100%;
 
    p{
      margin: 0;
    }  
 
   }
.F2P-game-info{
    width : 25%;
    margin:  auto;
    .F2P-game-info-flex{
        display: flex;
        justify-content: space-between;
    }
    
}
.slider{
    width: 1280px;
    height: 720px;
    border-radius: 10px;
    overflow: hidden;
    margin:  auto;
    
  }
  
  .slides{
    width: 500%;
    height: 720px;
    display: flex;
  }
  
  .slides input{
    display: none;
  }
  
  .slide{
    width: 20%;
    transition: 2s;
  }
  
  .slide img{
    width: 1280px;
    height: 720px;
  }
  
  /*css for manual slide navigation*/
  
  .navigation-manual{
    position: absolute;
    width: 1280px;
    margin-top: 680px;
    display: flex;
    justify-content: center;
  }
  
  .manual-btn{
    border: 2px solid  var(--color-primary-light);;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
  }
  
  .manual-btn:not(:last-child){
    margin-right: 40px;
  }
  
  .manual-btn:hover{
    background: var(--color-primary-light);
  }
  
  #radio1:checked ~ .first{
    margin-left: 0;
  }
  
  #radio2:checked ~ .first{
    margin-left: -20%;
  }
  
  #radio3:checked ~ .first{
    margin-left: -40%;
  }
  
  #radio4:checked ~ .first{
    margin-left: -60%;
  }
  
  /*css for automatic navigation*/
  
  .navigation-auto{
    position: absolute;
    display: flex;
    width: 1280px;
    justify-content: center;
    margin-top: 680px;
  }
  
  .navigation-auto div{
    border: 2px solid var(--color-primary-light);
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
  }
  
  .navigation-auto div:not(:last-child){
    margin-right: 40px;
  }
  
  #radio1:checked ~ .navigation-auto .auto-btn1{
    background: var(--color-orange);
  }
  
  #radio2:checked ~ .navigation-auto .auto-btn2{
    background:  var(--color-orange);;
  }
  
  #radio3:checked ~ .navigation-auto .auto-btn3{
    background:  var(--color-orange);;
  }
  
  #radio4:checked ~ .navigation-auto .auto-btn4{
    background:  var(--color-orange);;
  }
 

  .F2P-img-slider{
    margin: 0 auto;

    margin-left: auto;
    margin-right: auto;
    
  
    border: 3px solid var(--color-orange-dark);
    border-radius: 10px;
    overflow: hidden;
    
    cursor: grab;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.633) 0px 3px 8px;
    // img{

    //     max-width: 100%;
    //     max-height: 100%;
    //     margin: auto;

    // }
    // &:hover{
    //   .slick-prev{
    //     display: block !important;
    //   }
    //   .slick-next{
    //     display: block !important;
    //   }
    // }
  }
  .F2P-img{
    max-width: 100%;
    max-height: 100%;
    
    margin: auto;
  }
  .slick-dots{
    bottom: 10px;

    li button:before{
        color: var(--color-primary-light);
      }
      li.slick-active button:before{
        color: var(--color-orange);
      }

      li button:before{
        font-size: 25px;
      }

  } 
  .slick-next:before, .slick-prev:before{
    color: var(--color-primary-light);
    font-size: 35px;
  }
  .slick-prev{
    left: -40px;
    z-index: 5;
    
    display: none !important;
  }

  .slick-next{
    // right: 20px;
    display: none !important;
  }

  .slick-list{
    height: 100% !important;
    background-color: var(--color-secondry-dark);
  }

  @media screen and (max-width: 700px) {
    .F2P-Game-Page{
      font-size: small;
      .game-dec-container{
       flex-wrap: wrap; 
       justify-content: center;
      }
      .game-img{
        width: 100%;
        margin-right: 0;
        margin-bottom: 15px;
      }
      button{
        width:90px;
        font-size:10px;
      }
      margin: 100px 0;
      .bg-container{
        margin: 20px auto;
        width: 85%;
        padding: 20px;
        flex-direction: column;
      }
     

       .F2P-game-info , .F2P-game-requirements{
        padding: 0;
        width: 100%;
       }
       .comments-component .comments-form{
        width: 85%;
        padding:  20px;
       }
    }

    .slick-slider{
        width: 100%;
        height: 100%;
        border-radius: 0;
        overflow: hidden;
        margin:  auto;
        .slick-prev{
          left:-18px;
        }
        .slick-next{
          right: -18px;
        }
    }
    .F2P-img-slider{
      width: 98%;
    }
  }