
.hidden
{
    top: -70px !important;
}
.nav-bar{

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: var(--color-secondry-dark);
    
    box-shadow: rgb(0 0 0 / 64%) 0px 5px 15px;
    z-index: 2;
    display: flex;
    align-items: center;
 
    padding: 0 20px;
    border-bottom: solid 3px var(--color-orange);
   
   
    transition: all 0.2s ease-in-out;
    .nav-bar__logo{
        width: 100px;
        height: 100%;
        // position: absolute;
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
        &:hover{
            
            transform: rotateY(360deg);
            transition: all 0.5s ease-in-out;
        }
    }
    .nav-bar__links{
        display: flex;
        flex-grow: 1;
        align-items: center;
        margin-right: 25px;
        height: 100%;
        // overflow: hidden;
        .auth{
          // background-color: var(--color-orange);
          // width: 50%;
          // margin: 0 auto;
          padding:10px 5px ;
        }
       
        
        .nav-link{
            display: flex;
            align-items: center;
            font-size:1.1em;
            font-weight: 500;
            color: #fcfcfcd6;
            text-decoration: none;
            margin: 0 ;
            height: 100%;
            // padding: 40px 10px 0px 10px;
            padding: 0 10px;
            transition: all 0.2s ease;
            &:hover{
                color: var(--color-orange);
                
                background-color: rgba(255, 255, 255, 0.053);
                
                
            }
        }
    }
}

.nav-flex-grow{
    flex-grow: 1;
}

#menu__toggle {
    opacity: 0;
  }
  .hamburger-menu {
    display: none;
  }


  //drop down menu
  .dropbtn {
  background-color: var(--color-orange);
  color: white;
  padding: 14px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #cdcdcd;
  min-width: 250px;
  box-shadow: rgb(0 0 0 / 64%) 0px 5px 15px;
  border: 3px solid var(--color-orange-dark);
  z-index: 1;
  right: 0;
 
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  border-bottom: 1px solid var(--color-orange);
  display: block;
}

.dropdown-content a:hover {background-color: var(--color-primary-light);}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: var(--color-orange-dark);}

@media screen and (max-width: 1350px) {
    .nav-bar{
        padding: 0 10px;
        .nav-bar__logo{
            width: 80px;
        }
        .nav-bar__links{
            display: none;
        }
    }
    .hamburger-menu {
        display: block;
      }
      #menu__toggle:checked + .menu__btn > span {
        transform: rotate(45deg);
      }
      #menu__toggle:checked + .menu__btn > span::before {
        top: 0;
        transform: rotate(0deg);
      }
      #menu__toggle:checked + .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
      }
      #menu__toggle:checked ~ .menu__box {
        right: -1px !important;
      }
      .menu__btn {
    
        position: absolute;
        top: 29px;
        right: 35px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 4;
        
    
      }
      .menu__btn > span,
      .menu__btn > span::before,
      .menu__btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: var(--color-orange);
        transition-duration: .25s;
      }
      .menu__btn > span::before {
        content: '';
        top: -8px;
      }
      .menu__btn > span::after {
        content: '';
        top: 8px;
      }
      .menu__box {
        display: block;
        position: fixed;
        top: 0;
        right: -100%;
        width: 300px;
        height: 100%;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        background-color: var(--color-primary-dark);
        box-shadow: rgb(0 0 0 / 64%) 0px 5px 15px;
        transition-duration: .25s;
        z-index: 3;
        border-left: solid 3px var(--color-orange);
        .user-info{
          display: block;
        }
 
      }
      .menu__item {
        display: block;
        padding: 12px 24px;
        color: var(--color-white);
       
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
        transition-duration: .25s;
       
      }
      .auth{

        margin: 5px auto;
      }
      .menu__item:hover {
        background-color: var(--color-secondry-dark);
        color: var(--color-orange);
      }

}
.nav-button{
  a{

    &:hover{
        
        
        background-color: rgba(0, 0, 0, 0) !important;
        
        
    }
  }
}

 