.giveaways-directory-container{
    
        margin-top: 100px;
}

.giveaways-directory{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.giveaways-directory-search{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}