h1,h2,h3,h4,h5,h6 {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
p{
  font-family: 'Orbitron', sans-serif !important;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.300), 1px -1px 0 rgba(0, 0, 0, 0.300), -1px 1px 0 rgba(0, 0, 0, 0.300), 1px 1px 0 rgba(0, 0, 0, 0.300);
  font-size: 15px;
}
textarea{
  resize: none;
  height: 200px;
  
}
.App {
  text-align: center;
  // margin-top: 100px;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.sort-search-container{
  width: fit-content;
  margin: 0 auto 10px !important;
  padding: 10px 50px;
  gap: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-primary-dark);
  border:solid var(--color-secondary-dark) 2px;
}
nav{
  width: 100%;
.menu {
  display: flex;

  justify-content: center;
  align-items: center;

  font-family: "Orbitron", sans-serif;
}

ol {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  padding: 0.5em 0;
  list-style: none;
}

.menu-item {
  background: rgb(43, 43, 44);
  padding: 0.8em 2.5em;
  position: relative;
  border: 3px solid var(--color-grey);
  margin: 0 0.1em;
  transition: border 0.23s ease-in-out, background 0.23s linear;
  cursor: pointer;
  min-width: 8em;
  text-align: center;
}
.menu-item[aria-haspopup=true] {
  border-color: var(--color-orange);
}
.menu-item:hover, .menu-item:focus-within {
  border-color: var(--color-orange);
  background: var( --color-secondary-dark);
}
.menu-item:hover .sub-menu, .menu-item:hover .sub-menu:hover, .menu-item:focus-within .sub-menu, .menu-item:focus-within .sub-menu:hover {
  visibility: visible;
  opacity: 1;
  display: flex;
  align-content: center;
}

.sub-menu {

  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  left: 0;
  margin-top: 1em;
  visibility: hidden;
  display: none;
  opacity: 0;
  z-index: 20;
}
.sub-menu .menu-item {
  margin: 0.1em 0;
  padding: 1em;
  width: 10em;
  text-align: center;
  z-index: 2;
}

a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}
a:focus {
  outline: none;
}
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.line{
  border-bottom: 1px solid rgba(255,255,255,.25);
  margin:50px auto;
  width: 80%;
}



/* ===== Spinner ===== */
.lds-ring {
  margin: 30px 170px;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #292929 #696969;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 11px;
  }

  *::-webkit-scrollbar-track {
    background: #696969;
  }

  *::-webkit-scrollbar-thumb {
    background-color: var(--color-orange);
    border-radius: 9px;
    border: px outset #919191;
  }


.lazy-scroll{
  margin-bottom: 20px;
}


  ::-moz-selection { /* Code for Firefox */
    color: var(--color-primary-light);
    background: var(--color-orange-dark);
  }
  
  ::selection {
    color: var(--color-primary-light);
    background: var(--color-orange-dark);
  }


  @media screen and (max-width: 700px) {
    body{
     
      background: var(--color-primary-dark);
    }
 .sort-search-container{
  flex-direction: column;
  justify-content: center;
  gap : 10px;
  border: none
 }
 .form-wrapper{
width: 152px !important;

 }
 #search{
  width: 128px !important;
}
  }

