h1,h2,h3,h4,h5,h6 {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
p{
  font-family: 'Orbitron', sans-serif !important;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.300), 1px -1px 0 rgba(0, 0, 0, 0.300), -1px 1px 0 rgba(0, 0, 0, 0.300), 1px 1px 0 rgba(0, 0, 0, 0.300);
  font-size: 15px;
}
.App {
  text-align: center;
  // margin-top: 100px;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #292929 #696969;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 11px;
  }

  *::-webkit-scrollbar-track {
    background: #696969;
  }

  *::-webkit-scrollbar-thumb {
    background-color: var(--color-orange);
    border-radius: 9px;
    border: px outset #919191;
  }



  ::-moz-selection { /* Code for Firefox */
    color: var(--color-primary-light);
    background: var(--color-orange-dark);
  }
  
  ::selection {
    color: var(--color-primary-light);
    background: var(--color-orange-dark);
  }