:root {
  --color-primary-dark: #252526;
  --color-secondry-dark: #323232;

  --color-primary-light: #fdfdfdd6;

  --color-orange: #ed8a27;
  --color-orange-dark: #c07020;


  --color-grey: #c3c3c3;
}
@import url('https://fonts.googleapis.com/css2?family=Michroma&family=Orbitron:wght@500&display=swap');


body {
  background-color: var(--color-primary-dark) ;
  color: var(--color-primary-light) ;
  background: url(./assets//images/Background.jpg) no-repeat fixed ;
  margin: 60px 0 0 0;
  font-family: 'Orbitron', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
  .color-orange{
    color: var(--color-orange);
  }
  .right-text{
    text-align: right;
  }