.home-page{
margin-bottom: 50px;
// position: absolute;
width: 100%;

top: 0;
left: 0;
.slick-prev {
  left: 18px;
  z-index: 1;
}
.slick-next {
  right: 33px;
}
.game-card {
  margin: 15px auto;
}
span {
  // margin-right: 20px; /* Adjust spacing between words */
  font-size: 2rem;
}

/* Optionally, you can add some styling to the active span if desired */
span.active {
  font-weight: bold;

  /* Add any other styling as needed */
}
}
.hero-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    // background-image: url('../../assets/images/hero.jpg');
    background-image: url('../../assets/images/aa.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-position: 80%;
    margin: 0 0 22vh 0;
    box-shadow: 1px 1px 40px 21px rgba(0, 0, 0, 0.75);
    border-bottom: solid 3px var(--color-secondary-dark);
    
    
}
 
.popular-games{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 50px;
}

.home-game-card{
 
}
.home-slider{
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
     width: 100%; 
     cursor: -webkit-grab;
    // border: 5px solid var(--color-primary-dark);
    &:hover{
        .slick-prev{
          display: block !important;
        }
        .slick-next{
          display: block !important;
        }
      }
}

.infinite-scrolling-text {
  overflow: hidden;
  width: 100%;
  margin: 20px 0;
}

.text-container {
  white-space: nowrap;
  display: inline-block;
  width: fit-content; /* Adjust as needed */
  animation: scrollText 5s ease-in-out infinite alternate; /* Use 'alternate' to go back and forth */
}

@keyframes scrollText {
  0% {
    transform: translateX(20vw);
  }
  100% {
    transform: translateX(-20vw);
  }
}



